[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chalice = "*"

[dev-packages]
boto3 = "*"
flake8 = "*"
freezegun = "*"
moto = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"
